.item-modu {
  background-color: #fff;
  margin-bottom: 10px;
  .option-item {
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid #f3f3f3;
    padding: 13px 16px;
    &:nth-last-of-type(1) {
      border-bottom: 0 none;
    }
    .item-left {
      max-width: 40%;
      color: #666;
      float: left;
      &.must-term {
        .item-name {
          &::after {
            content: '*';
            color: #FF1414;
            margin-right: 5px;
            float: left;
          }
        }
      }
    }
    .item-right {
      width: 50%;
      min-height: 22px;
      text-align: right;
      float: right;
      &.select-term {
        padding-right: 20px;
        position: relative;
        &::after {
          content: '';
          width: 9px;
          height: 20px;
          background: url('~@/../static/images/promoter/right-arrow01.png') center center no-repeat;
          background-size: 100% auto;
          margin-top: -10px;
          position: absolute;
          right: 0;
          top: 50%;
        }
      }
    }
    .single-term {
      width: 100%;
      margin-bottom: 10px;
    }
    .item-input {
      width: 100%;
      height: 20px;
      text-align: right;
    }
    .item-textarea {
      width: 100%;
      height: 80px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
      border-radius: 6px;
      box-sizing: border-box;
    }
  
  }
}
