/* 版心尺寸 */
.w1200 {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: $pad-min-size) and (max-width: $pad-max-size) {}
@media screen and (max-width: $phone-max-size) {
  .w1200 {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
}


/* 浮动 */
.yn-fl {
  float: left;
} 
.yn-fr {
  float: right;
}

/* 清除浮动 */
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
} 
.clearfix {
  zoom: 1;
}

/* 图片填充 */
.yn-fill-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 单行文本的溢出显示省略号 */ 
.yn-text-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}