$base-color: #1A992F;         // 主体颜色
$base-orange: #FE8C09;        // 橙色


// 字体颜色
$base-color-red: #FF0003;     // 红色
$base-color-orange: #FF6600;  // 橙色
$color-green-3e7:#3E7D3E; 

// 边框颜色
$base-border-color: #EDEDED;  // 灰色边框

// 等级颜色
$green-d0e:#D0E5BE;   
$gray-d8t: #D8D8D8;
$gray-f9t: #F9F9F9;


// 响应式尺寸
$pc-max-size: 1920px;
$pc-min-size: 1200px;
$pad-max-size: 1199px;
$pad-min-size: 768px;
$phone-max-size: 767px;
$phone-min-size: 320px;