// 自定义 Form 表单
.info-custom-form {
  .el-form-item {
    .el-form-item__label {
      font-size: 20px;
      color: #2D2D2D;
      padding-right: 50px;
    }
    .el-form-item__content {
      font-size: 16px;
      padding-right: 60px;
      // overflow: hidden;
      .el-select {
        width: 100%;
      }
      .el-input .el-input__inner,
      .el-textarea .el-textarea__inner,
      .el-radio .el-radio__label,
      .el-checkbox .el-checkbox__label {
        font-size: 16px;
      }
    }
  }
}

// 自定义 Dialog 对话框
.yn-dialog {
  .el-dialog {
    .el-dialog__header {
      border-bottom: 1px solid #e3e3e3;
      padding: 16px 20px;
    }
  }
}

// element 响应式样式
@media screen and (max-width: $phone-max-size) {
  .el-form {
    .el-form-item {
      .el-form-item__label {
        width: 100%;
        font-size: 16px;
        float: none;
      }
      .el-form-item__content {
        padding: 0 !important;
        margin: 0 !important;
        .el-radio {
          white-space: normal;
        }
      }
    }
  }
  .yn-dialog {
    .el-dialog {
      width: 100% !important;
      margin: 0 auto !important;
    }
  }
}