/* 头部回到首页按钮 */
.yn-goindex-btn {
  width: 128px;
  height: 28px;
  font-size:15px;
  color:rgba(31, 153, 51, 1);
  line-height: 28px;
  text-align: center;
  border:1px solid rgba(199,197,208,1);
  background:linear-gradient(0deg,rgba(0,0,0,0.03),rgba(255,255,255,0.03));
  box-shadow:0px 4px 5px 0px rgba(7,0,2,0.03);
  float: left;
  i {
    width: 10px;
    height: 11px;
    background: url('~@/../static/images/base-icon.png') -15px -295px;
    margin-right: 2px;
    display: inline-block;
  }
  &:hover {
    color:rgba(31, 153, 51, 1);
    // color:#fff;
    // border-color: rgba(31, 153, 51, .9);
    // background: rgba(31, 153, 51, .9);
    // i {
    //   background-position: -15px -335px;
    // }
  }
}


/* 
 ****************************** 公共模块 ******************************
 */
/* 首页类别模块 */
.yn-index-item {
  width: 100%;
  background: #fff;
  margin-bottom: 50px;
}

/* 子页整体布局 */
.yn-sub-wrapper {
  margin: 20px 0;
}


/* 
 ****************************** 公共标题 ******************************
 */
/* 模块标题 */
.yn-item-title {
  width: 100%;
  height: 50px;
  color: #fff;
  background: url('~@/../static/images/title-bg01.png');
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
  .title-left {
    float: left;
    .title-name {
      font-size: 30px;
      line-height: 34px;
      padding-left: 10px;
    }
  }
  .title-right {
    float: right;
    .more-btn {
      font-size: 14px;
      color: #fff;
      line-height: 24px;
      margin: 5px 0;
      display: block;
    }
  }
}


/* 
 ****************************** 公共选项卡 ******************************
 */
/* 矩形选项卡 */
.yn-block-tabs {
  width: 100%;
  .tab-pane {
    width: 20%;
    height: 52px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border: 1px solid $base-border-color;
    margin-left: -1px;
    box-sizing: border-box;
    float: left;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &.cur-tab {
      color: $base-color;
      border-color: $base-color;
      z-index: 2;
    }
  }
}


/* 
 ****************************** 公共条件筛选 ******************************
 */
/* 条件筛选 */
.yn-condition-screen {
  font-size: 18px;
  line-height: 24px;
  .yn-screen-hd {
    height: 48px;
    background: $gray-f9t;
    padding: 12px 30px;
    box-sizing: border-box;
    .el-breadcrumb {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .yn-screen-bd {
    background: $gray-f9t;
    border: 1px solid #F2F2F2;
    .screen-item {
      .item-label {
        height: 100%;
        width: 140px;
        text-align: right;
        float: left;
        .label-name {
          margin: 15px 15px 0 0;
        }
      }
      .item-ul {
        background: #fff;
        padding: 10px 10px 10px 26px;
        margin-left: 140px;
        .item-list {
          line-height: 28px;
          padding: 0 8px;
          margin: 3px 32px 3px 0;
          cursor: pointer;
          float: left;
          &:hover {
            color: #fff;
            background: rgba(26, 153, 47, .4);
          }
          &.current {
            color: #fff;
            background: $base-color;
          }
        }
        .screen-form {
          .el-form-item {
            width: 124px;
            margin: 4px 32px 4px 0;
            float: left;
            .el-input {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}


/* 
 ****************************** 公共表单 ******************************
 */
/* 带表头的表单 */
.yn-info-modu {
  border: 1px solid $green-d0e;
  .yn-info-head {
    height: 58px;
    font-size: 28px;
    color: $color-green-3e7;
    line-height: 30px;
    background: $green-d0e;
    padding: 14px 40px;
    box-sizing: border-box;
    &:after {
      content: "";
      width: 24px;
      height: 24px;
      background: url('~@/../static/images/base-icon.png') -48px -168px;
      margin: 3px 30px 3px 0;
      float: left;
    }
  }
  .yn-info-body {
    padding: 36px 30px;
    .el-form {
      .el-form-item {
        margin-bottom: 30px;
        .el-form-item__label {
          padding-right: 20px;
        }
        .el-form-item__content {
          padding-right: 308px;
          .item-sub-col {
            height: 40px;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
          }
          .sub-col-btn {
            font-size: 16px;
            color: #fff;
            line-height: 40px;
            text-align: center;
            background: $base-orange;
          }
          .form-foot-btn {
            width: 100%;
            height: 44px;
            font-size: 18px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phone-max-size) {
  .yn-info-modu {
    .yn-info-head {
      font-size: 22px;
      text-align: center;
      padding: 14px 20px;
      &:after {
        display: none;
      }
    }
    .yn-info-body {
      padding: 20px 10px;
    }
  }
}