.login-wrapper {
  height: 755px;
  background: url('~@/../static/images/login/login-bg01.jpg') center top no-repeat;
  background-size: 1920px auto;
  overflow: hidden;
  .login-box {
    width: 410px;
    text-align: center;
    background: #fff;
    border: 2px solid $base-color;
    padding: 20px;
    margin: 58px auto;
    box-sizing: border-box;
    .login-titlt {
      font-size: 30px;
      font-weight: bold;
      color: $base-color;
      line-height: 1;
      border-bottom: 1px solid rgba(0, 0, 0, .17);
      padding: 16px 0 36px;
    }
    .message-item {
      font-size: 14px;
      color: #666;
      line-height: 16px;
      text-align: left;
      background: #FFFBEB;
      border: 1px solid #FFE478;
      padding: 8px 14px;
      margin-bottom: 12px;
      i {
        width: 17px;
        height: 16px;
        background: url('~@/../static/images/base-icon.png') -12px -252px;
        margin-right: 10px;
        float: left;
      }
    }
    .login-cont {
      padding: 22px 28px;
      .login-form {
        .form-item-icon {
          width: 24px;
          height: 24px;
          background: url('~@/../static/images/base-icon.png') -48px -88px;
          display: block;
          position: absolute;
          left: 13px;
          top: 10px;
          z-index: 2;
          &.password-icon {
            background-position: -48px -128px;
          }
          &.safety-icon {
            background-position: -48px -128px;
          }
        }
        .vercode-item {
          .vercode-img {
            width: 120px;
            height: 100%;
            cursor: pointer;
          }
        }
      }
      .bottom-modu {
        .second-bottom {
          .retrieve-btn {
            font-size: 14px;
            color: #A0A0A0;
            line-height: 1;
            float: right;
          }
        }
        .main-bottom {
          margin-top: 20px;
          .login-btn,
          .register-btn {
            height: 44px;
            font-size: 18px;
            color: #fff;
            line-height: 44px;
            background: #0fae33;
            margin-bottom: 16px;
            box-sizing: border-box;
            display: block;
            cursor: pointer;
          }
          .login-btn {
            background: linear-gradient(#57bb41, #0fae33);
          }
          .register-btn {
            color: $base-color;
            background: #fff;
            border: 1px solid $base-color;
          }
        }
      }
      .shortcut-modu {
        margin-top: 26px;
        .shortcut-item {
          width: 140px;
          float: left;
          .item-icon {
            width: 44px;
            height: 52px;
            background: url('~@/../static/images/base-icon.png') -138px -94px;
            margin: 0 auto;
            display: block;
          }
          .item-name {
            font-size: 14px;
            color: #A0A0A0;
            line-height: 20px;
            margin-top: 10px;
          }
          &.guide-item {
            float: right;
            .item-icon {
              background-position: -138px -174px;
            }
          }
        }
      }
    }
  }
}

// 手机端适配样式
@media screen and (max-width: $phone-max-size) {
  .login-wrapper {
    height: auto;
    background: none;
    .login-box {
      width: 100%;
      border: 0 none;
      margin: 0;
      .login-cont {
        padding: 30px 0;
        .bottom-modu {
          .second-bottom {
            display: none;
          }
        }
        .shortcut-modu {
          display: none;
        }
      }
    }
  }
}